TRAINING_EXCEL=./Tum_Bilancolar.xlsx
FORCE_RETRAIN=false
OPENROUTER_API_KEY=your_new_openrouter_api_key
OPENROUTER_MODEL=openai/gpt-4o-mini
APP_URL=http://localhost:8001
APP_NAME=Financial-ML-LLM-Assistant
